---
import MorseCode from "../../components/MorseCode.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import TeamCard from "./TeamCard.astro";
import avatar from "../../assets/background.png";

const teams = [
  {
    name: "Management Team",
    icon: "briefcase",
    members: [
      { id: "01", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "02", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "03", name: "ADITHYA", position: "LEAD", image: avatar },
    ],
  },
  {
    name: "Logistics Team",
    icon: "list-checks",
    members: [
      { id: "01", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "02", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "03", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "04", name: "ADITHYA", position: "LEAD", image: avatar },
    ],
  },
  {
    name: "Events Team",
    icon: "calendar-heart",
    members: [
      { id: "01", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "02", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "03", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "04", name: "ADITHYA", position: "LEAD", image: avatar },
    ],
  },
  {
    name: "Media Team",
    icon: "camera",
    members: [
      { id: "01", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "02", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "03", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "04", name: "ADITHYA", position: "LEAD", image: avatar },
    ],
  },
  {
    name: "Tech Team",
    icon: "desktop",
    members: [
      { id: "01", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "02", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "03", name: "ADITHYA", position: "LEAD", image: avatar },
    ],
  },
  {
    name: "Marketing Team",
    icon: "megaphone-simple",
    members: [
      { id: "01", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "02", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "03", name: "ADITHYA", position: "LEAD", image: avatar },
    ],
  },
  {
    name: "CTF Team",
    icon: "flag-pennant",
    members: [
      { id: "01", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "02", name: "ADITHYA", position: "LEAD", image: avatar },
      { id: "03", name: "ADITHYA", position: "LEAD", image: avatar },
    ],
  },
];
---

<MainLayout>
  <div class="flex flex-col gap-2 lg:gap-2 lg:px-12 lg:py-6 lg:pb-12">
    <!-- WHO WE ARE -->
    <h1
      class="border-hash-purple font-brutal border-2 py-2 text-center text-4xl font-black lg:border-0 lg:py-0 lg:text-left lg:text-5xl"
    >
      WHO WE ARE
    </h1>

    <div class="relative h-[20rem]">
      <!-- Background + Overlay -->
      <div
        class="absolute inset-0 z-0 bg-[url('../assets/camera.png')] bg-cover bg-no-repeat lg:bg-[center_top_-25rem]"
      >
        <div class="bg-hash-purple/10 absolute inset-0 backdrop-brightness-90">
        </div>
      </div>

      <!-- Foreground Content -->
      <div class="relative z-10 flex h-full justify-between p-2 lg:p-4">
        <div
          class="border-hash-black bg-hash-purple hidden h-fit w-full self-center border-2 p-2 lg:ml-12 lg:block lg:w-fit lg:p-4"
        >
          <h2
            class="text-hash-black font-brutal text-xl font-black lg:text-3xl lg:[writing-mode:sideways-lr]"
          >
            H45HVAU7T
          </h2>
        </div>

        <!-- Blurred content box -->
        <div
          class="border-hash-black bg-hash-black/50 glass-noise self-end border-2 p-2 backdrop-blur-md lg:w-2xl lg:p-4"
        >
          <p class="text-justify font-mono text-xs font-bold lg:text-base">
            We're a community of cyber enthusiasts fuelled by curiosity, driven
            by purpose, and united by the mission to make the digital world
            safer.
          </p>
        </div>
      </div>
    </div>

    <div class="hidden py-4">
      <MorseCode
        code=".-- . .----. .-. .       -. --- -       .--- ..- ... -       .... .- -.-. -.- . .-. ... --..--       .-- . .----. .-. .       .-       -.-. ..- .-.. - ..- .-. ."
      />
    </div>

    <div class="grid grid-rows-1 gap-4 lg:grid-cols-3">
      <div
        class="border-hash-purple flex flex-col justify-between gap-4 border-2 p-4 text-justify font-mono text-xs lg:col-span-2 lg:text-base"
      >
        <p>
          Founded by a group of passionate students and inspired by alumni
          mentors blazing trails in the cybersecurity world, the club emerged as
          a safe space for curiosity, experimentation, and ethical hacking.
        </p>
        <p>
          What started as a few minds decoding CTFs over coffee has now evolved
          into a full-fledged CULTure of cyber defenders.
        </p>
        <p>We weren't founded, we were forged.</p>
      </div>
      <div
        class="border-hash-purple inline-block border-2 p-2 font-mono text-xs tracking-widest text-white lg:p-4 lg:text-base"
      >
        <table class="w-full table-auto border-collapse">
          <tbody>
            <!-- Row 1 -->
            <tr class="border-hash-purple border-b-2">
              <td class="px-4 py-2">NAME</td>
              <td class="px-4 py-2 text-right">HASHVAULT</td>
            </tr>

            <!-- Row 2 -->
            <tr class="border-hash-purple border-b-2">
              <td class="px-4 py-2">FOUNDED</td>
              <td class="px-4 py-2 text-right">20XX / XX / XX</td>
            </tr>

            <!-- Row 3 -->
            <tr class="border-hash-purple border-b-2">
              <td class="px-4 py-2">FUNCTION</td>
              <td class="px-4 py-2 text-right">CYBERSECURITY</td>
            </tr>

            <!-- Row 4 -->
            <tr class="border-hash-purple border-b-2">
              <td class="px-4 py-2">STATUS</td>
              <td
                class="px-4 py-2 text-right text-green-400 drop-shadow-[0px_0px_5px_theme(color-green-400/0.7)]"
                >FUNCTIONAL</td
              >
            </tr>

            <!-- Row 5 -->
            <tr>
              <td class="px-4 py-2">MENTAL-STATE</td>
              <td
                class="px-4 py-2 text-right text-red-500 drop-shadow-[0px_0px_5px_theme(color-red-500/0.7)]"
                >LEVEL C</td
              >
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- TEAM -->
    <div class="mt-6 flex w-full flex-col gap-2 lg:mt-12 lg:gap-4">
      <h1
        class="border-hash-purple font-brutal border-2 px-2 py-2 text-center text-4xl font-black lg:border-0 lg:text-5xl"
      >
        MEET OUR TEAM
      </h1>

      <div class="flex flex-col gap-12">
        {
          teams.map((team) => (
            <div>
              <span class="border-hash-purple flex flex-row items-center gap-2 border-2 border-b-0 p-3 font-mono font-bold uppercase">
                <i class={`ph ph-${team.icon} text-xl text-white`} />
                <h2>{team.name}</h2>
              </span>
              <TeamCard members={team.members} />
            </div>
          ))
        }
      </div>
    </div>

    <!-- CORE VALUES -->
    <div class="mt-6 flex flex-col gap-4 lg:mt-12"></div>
    <h1
      class="border-hash-purple font-brutal border-2 px-2 py-2 text-center text-4xl font-black lg:hidden lg:border-0 lg:text-left lg:text-5xl"
    >
      CORE VALUES
    </h1>

    <div class="relative h-[20rem]">
      <!-- Background + Overlay -->
      <div
        class="absolute inset-0 z-0 bg-[url('../assets/lock.png')] bg-cover bg-no-repeat lg:bg-[center_top_-25rem]"
      >
        <div class="bg-hash-purple/10 absolute inset-0 backdrop-brightness-90">
        </div>
      </div>

      <!-- Foreground Content -->
      <div class="relative z-10 flex h-full justify-between p-2 lg:p-4">
        <!-- Blurred content box -->
        <div
          class="border-hash-black bg-hash-black/50 glass-noise self-end border-2 p-2 backdrop-blur-md lg:w-2xl lg:p-4"
        >
          <p class="text-justify font-mono text-xs font-bold lg:text-base">
            We believe the best learning happens when you're uncomfortable. At
            HashVault, we encourage questions, exploration, and the hunger to
            dig deeper—because true hackers are never satisfied with
            surface-level answers.
          </p>
        </div>

        <div
          class="border-hash-black bg-hash-purple hidden h-fit w-full self-center border-2 p-2 lg:mr-12 lg:block lg:w-fit lg:p-4"
        >
          <h2
            class="text-hash-black font-brutal text-xl font-black lg:text-3xl lg:[writing-mode:sideways-lr]"
          >
            CORE VALUES
          </h2>
        </div>
      </div>
    </div>
    <div
      class="border-hash-purple flex flex-col gap-4 border-2 p-4 font-mono text-sm"
    >
      <div class="flex flex-col gap-1">
        <h3 class="font-brutal text-2xl font-black uppercase">Ethics First</h3>
        <p class="font-mono">
          With great power comes… yeah, you know the line. We uphold responsible
          disclosure, respect privacy, and follow a strict ethical code. Hacking
          without ethics isn't hacking, it's harm.
        </p>
      </div>
      <div class="flex flex-col gap-1">
        <h3 class="font-brutal text-2xl font-black uppercase">
          Community Over Competition
        </h3>
        <p>
          CTFs are competitive. We aren't. We lift each other up, share
          resources, and collaborate often—because real growth happens together.
        </p>
      </div>
      <div class="flex flex-col gap-1">
        <h3 class="font-brutal text-2xl font-black uppercase">
          Security is a mindset
        </h3>
        <p>
          It's not just about tools and techniques. It's about how you think. We
          promote a proactive, prevention-first approach to digital defense.
        </p>
      </div>
      <div class="flex flex-col gap-1">
        <h3 class="font-brutal text-2xl font-black uppercase">
          Culture > Club
        </h3>
        <p>
          We're more than a tech club, we're a culture. A movement. A mindset. A
          space where cyber enthusiasts become cyber defenders.
        </p>
      </div>
      <div class="flex flex-col gap-1">
        <h3 class="font-brutal text-2xl font-black uppercase">
          Impact-Driven Learning
        </h3>
        <p>
          From securing startups to educating peers, our learning is never in
          isolation. Everything we do aims to make the digital world safer,
          smarter, and more resilient.
        </p>
      </div>
    </div>
  </div>
</MainLayout>
