@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-brutal: 'Archivo Black', 'sans-serif';
  --font-mono: 'Geist Mono Variable', 'monospace';

  --color-hash-black: oklch(0.1536 0.0071 314.6);
  --color-hash-purple: oklch(0.9148 0.056 311.05);
}

.glass-noise {
    position: relative;
}

.glass-noise::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
        url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.09'/%3E%3C/svg%3E");
    background-size: 100px 100px, 150px 150px, 80px 80px, 50px 50px;
    pointer-events: none;
    mix-blend-mode: overlay;
}     