---
import "../styles/global.css";
import "@fontsource/archivo-black";
import "@fontsource-variable/geist-mono";
const mailto = "mailto:contact@hashvault.club";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Hashvault</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/style.css"
    />
  </head>
  <body
    class="bg-hash-black flex h-screen flex-col gap-2 p-2 text-white xl:p-4"
  >
    <main
      class="border-hash-purple flex h-full flex-col items-center justify-center gap-3 border-2 text-center"
    >
      <h1 class="font-brutal text-7xl font-black">404</h1>
      <div class="flex flex-col">
        <p>Even the best hackers hit dead ends.</p>
        <a
          href="/"
          class="text-white/70 transition-all duration-200 hover:text-white/40"
          >Go Home</a
        >
      </div>
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
  }
</style>
