---
import HomeContent from "../components/HomeContent.astro";
import HomeFooter from "../components/HomeFooter.astro";
import HomeNav from "../components/HomeNav.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout>
  <div class="flex h-full grow flex-col">
    <HomeNav />
    <HomeContent />
    <HomeFooter />
  </div>
</HomeLayout>
