---
import HomeContent from "../components/HomeContent.astro";
import HomeFooter from "../components/HomeFooter.astro";
import HomeNav from "../components/HomeNav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex h-full grow flex-col">
    <HomeNav />
    <HomeContent />
    <HomeFooter />
  </div>
</Layout>
