---
import HashFill from "./HashFill.astro";
---

<div
  class="flex flex-col xl:flex-row xl:gap-4 justify-between backdrop-blur-xs bg-hash-black/30"
>
  <!-- Hyperlinks -->
  <div class="font-brutal font-black text-sm md:text-md py-4 px-5 w-full">
    <ul
      class="grid grid-flow-col grid-rows-3 gap-2 justify-between xl:justify-normal content-center"
    >
      <a class="hover:opacity-75 transition duration-100 w-fit" href="/about"
        >/ABOUT-US</a
      >
      <a class="hover:opacity-75 transition duration-100 w-fit" href="/events"
        >/EVENTS</a
      >
      <a
        class="hover:opacity-75 transition duration-100 w-fit"
        href="/departments">/DEPARTMENTS</a
      >
      <a
        class="hover:opacity-75 transition duration-100 w-fit"
        href="/resources">/RESOURCES</a
      >
      <a
        class="hover:opacity-75 transition duration-100 w-fit"
        href="/hall-of-fame">/HALL-OF-FAME</a
      >
      <a class="hover:opacity-75 transition duration-100 w-fit" href="/contact"
        >/CONTACT</a
      >
    </ul>
  </div>

  <!-- Latest Updates -->
  <div
    class="border-hash-purple border-t-2 xl:border-t-0 xl:border-l-2 px-5 py-4"
  >
    <div class="w-full grid grid-rows-1 align-top gap-3 md:gap-4">
      <div class="flex items-center gap-2 h-fit overflow-hidden">
        <h3 class="font-brutal text-sm whitespace-nowrap">LATEST UPDATES</h3>
        <HashFill textSize="text-sm" />
      </div>

      <div
        class="scrollbar scrollbar-thumb-transparent scrollbar-track-transparent flex gap-2 overflow-x-auto md:overflow-x-visible snap-x"
      >
        <a
          class="hover:opacity-75 bg-hash-black/30 backdrop-blur-xl hover:scale-[99%] transition duration-100 w-fit min-w-3xs md:min-w-0 snap-center"
          href="/blog"
        >
          <div class="border-2 border-hash-purple p-2">
            <p class="font-mono text-xs hyphens-auto text-justify text-clip">
              Leaked Credentials Surge on Dark Web After Major Breach
            </p>
          </div>
        </a>

        <a
          class="hover:opacity-75 hover:scale-[99%] bg-hash-black/30 backdrop-blur-xl transition duration-100 w-fit min-w-3xs md:min-w-0 snap-center"
          href="/blog"
        >
          <div class="border-2 border-hash-purple p-2">
            <p class="font-mono text-xs hyphens-auto text-justify text-clip">
              AI-Powered Phishing Kits Are on the Rise
            </p>
          </div>
        </a>

        <a
          class="hover:opacity-75 hover:scale-[99%] bg-hash-black/30 backdrop-blur-xl transition duration-100 w-fit min-w-3xs md:min-w-0 snap-center"
          href="/blog"
        >
          <div class="border-2 border-hash-purple p-2 w-fit">
            <p class="font-mono text-xs hyphens-auto text-justify text-clip">
              Zero-Day in the Wild: New Windows Exploit Surfaces
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
