<!-- ---
import background from "../assets/background.svg";
import HomeNav from "./HomeNav.astro";
--- -->
<div
  class="flex flex-col grow h-full justify-center border-t-2 border-b-2 border-hash-purple"
>
  <div
    class="grid grid-cols-3 bg-hash-black/30 text-center font-brutal font-black text-2xl backdrop-blur-sm"
  >
    <div class="border-t-2 border-b-2 border-hash-purple py-[22%]">
      <a>JOIN US</a>
    </div>
    <div class="border-2 border-hash-purple py-[22%]">
      <a>GET STARTED</a>
    </div>
    <div class="border-t-2 border-b-2 border-hash-purple py-[22%]">
      <a>EXPLORE</a>
    </div>
  </div>
</div>
