<div
  class="flex flex-col grow h-full justify-center border-t-2 border-b-2 border-hash-purple overflow-hidden"
>
  <div
    class="grid grid-cols-3 bg-hash-black/30 text-center font-brutal font-black text-2xl glass-noise backdrop-saturate-150 backdrop-blur-sm"
  >
    <a
      class="transition-all duration-200 hover:scale-[1.02] hover:bg-hash-black z-0 hover:z-10 relative"
      href="/join-us"
    >
      <div
        class="border-t-2 border-b-2 hover:border-r-2 border-hash-purple py-[22%] hover:drop-shadow-[0px_0px_30px_theme(colors.hash-purple)] relative"
      >
        JOIN US
      </div>
    </a>

    <a
      class="transition-all duration-200 hover:scale-[1.02] hover:bg-hash-black z-0 hover:z-10 relative"
      href="/get-started"
    >
      <div
        class="border-2 border-hash-purple py-[22%] hover:drop-shadow-[0px_0px_30px_theme(colors.hash-purple)] relative"
      >
        GET STARTED
      </div>
    </a>

    <a
      class="transition-all duration-200 hover:scale-[1.02] hover:bg-hash-black z-0 hover:z-10 relative"
      href="/explore"
    >
      <div
        class="border-t-2 border-b-2 hover:border-l-2 border-hash-purple py-[22%] hover:drop-shadow-[0px_0px_30px_theme(colors.hash-purple)] relative"
      >
        EXPLORE
      </div>
    </a>
  </div>
</div>
