<div
  class="border-hash-purple flex h-full grow flex-col justify-center overflow-hidden border-t-2 border-b-2"
>
  <div
    class="grid-row-3 bg-hash-black/30 font-brutal glass-noise grid text-center text-2xl font-black backdrop-blur-sm backdrop-saturate-150 md:grid-cols-3"
  >
    <a
      class="hover:bg-hash-black active:bg-hash-black/70 relative z-0 transition-all hover:z-10 hover:scale-[1.02] active:scale-[0.99] md:duration-100 xl:duration-200"
      href="/join-us"
    >
      <div
        class="border-hash-purple hover:drop-shadow-[0px_0px_30px_theme(colors.hash-purple)] relative border-t-2 border-b-1 py-4 hover:border-r-2 active:border-r-0 active:drop-shadow-none md:border-b-2 md:py-[22%]"
      >
        JOIN US
      </div>
    </a>

    <a
      class="hover:bg-hash-black active:bg-hash-black/70 relative z-0 transition-all hover:z-10 hover:scale-[1.02] active:scale-[0.99] md:duration-100 xl:duration-200"
      href="/get-started"
    >
      <div
        class="border-hash-purple hover:drop-shadow-[0px_0px_30px_theme(colors.hash-purple)] relative border-t-1 border-b-1 py-4 active:drop-shadow-none md:border-2 md:py-[22%]"
      >
        GET STARTED
      </div>
    </a>

    <a
      class="hover:bg-hash-black active:bg-hash-black/70 relative z-0 transition-all hover:z-10 hover:scale-[1.02] active:scale-[0.99] md:duration-100 xl:duration-200"
      href="/explore"
    >
      <div
        class="border-hash-purple hover:drop-shadow-[0px_0px_30px_theme(colors.hash-purple)] relative border-t-1 border-b-2 py-4 hover:border-l-2 active:border-l-0 active:drop-shadow-none md:border-t-2 md:py-[22%]"
      >
        EXPLORE
      </div>
    </a>
  </div>
</div>
