---
import HashFill from "./HashFill.astro";
import Date from "./Date.astro";
import Time from "./Time.astro";
// import { Icon } from 'astro-icon/components';
import Globe from "../icons/globe.svg";
import Barcode from "./Barcode.astro";
---

<div
  class="bg-hash-black/30 divide-hash-purple flex h-fit w-full items-stretch divide-x-2 overflow-hidden backdrop-blur-xs md:h-26"
>
  <div class="flex max-w-3xl flex-col gap-1 px-3 py-2">
    <div class="flex w-full items-center gap-2">
      <h3 class="font-brutal text-xs whitespace-nowrap">WHO WE ARE</h3>
      <HashFill textSize="text-xs" />
    </div>

    <p
      class="content-center overflow-hidden text-justify font-mono text-xs font-bold"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore ex ea commodo consequat.
    </p>
  </div>

  <div class="divide-hash-purple hidden w-xl divide-y-2 md:grid md:grid-rows-2">
    <div class="flex flex-col px-3 py-2">
      <div class="flex w-full items-center gap-2">
        <h3 class="font-brutal text-xs whitespace-nowrap">DATE</h3>
        <HashFill textSize="text-xs" />
      </div>
      <Date className="text-md font-mono font-bold" />
    </div>

    <div class="flex flex-col px-3 py-2">
      <div class="flex w-full items-center gap-2">
        <h3 class="font-brutal text-xs whitespace-nowrap">TIME</h3>
        <HashFill textSize="text-xs" />
      </div>
      <Time className="text-md font-mono font-bold" />
    </div>
  </div>

  <div class="hidden h-full items-center justify-center p-2 md:flex">
    <a
      href="https://www.instagram.com/hashvault_bnm"
      target="_blank"
      rel="noopener noreferrer"
      class="flex h-full items-center"
    >
      <Globe
        class="hover:drop-shadow-[0px_0px_5px_theme(colors.hash-purple)] h-full w-auto transition duration-100 hover:cursor-pointer"
      />
    </a>
  </div>

  <div class="hidden h-full w-fit p-2 leading-none xl:flex">
    <div class="flex w-full flex-col justify-between gap-1">
      <div class="flex w-full items-center gap-2">
        <h3 class="font-brutal text-xs whitespace-nowrap">
          DEFEND THE DIGITAL REALM
        </h3>
        <HashFill textSize="text-xs" />
      </div>

      <Barcode value="ctf{W3_4R3_H45HVAU7T}" />

      <div class="gap1 flex w-full items-center">
        <HashFill textSize="text-xs" />
        <h3 class="font-brutal text-xs whitespace-nowrap">HASHVAULT</h3>
      </div>
    </div>
  </div>
</div>
