---
const { code = "-- . .-.. .-.. ---" } = Astro.props;

const morseMap: Record<"." | "-" | " ", string> = {
  ".": "dot",
  "-": "dash",
  " ": "gap",
};
---

<div class="flex w-full max-w-full flex-wrap items-center justify-between">
  {
    code.split("")?.map((char: string) => {
      const type = morseMap[char as keyof typeof morseMap];
      if (!type) return null;

      return <span class={`morse-${type}`} />;
    })
  }
</div>
