---
const { className } = Astro.props
---

<div id="clock" class=`${className}`></div>

<script type="module">
  const clockEl = document.getElementById("clock");
  function updateTime() {
    const now = new Date();
    clockEl.textContent = now.toLocaleTimeString(undefined, {
      hour12: false,
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit",
    });
  }

  updateTime();
  setInterval(updateTime, 1000);
</script>
